<div class="row">
	<div class="input-field col s12">
		{{#if name }}
			<input placeholder="" id="{{prefix}}password" name="{{name}}" type="password" class="validate" required>
		{{else}}
			<input placeholder="" id="{{prefix}}password" name="password" type="password" class="validate" required>
		{{/if}}

		{{#if label }}
			<label for="{{prefix}}password">{{label}}</label>
		{{else}}
			<label for="{{prefix}}password">Password</label>
		{{/if}}
		
		<span class="helper-text" data-error="Can`t be empty!" data-success="Well!"></span>
	</div>
</div>