{{!-- PROPOSALS --}}
<h1 class="h4">{{ title }}</h1>

<div class="row">
	<form action="/proposals" method="POST" class="col s12">
		{{#if proposalAlerts.length }}
			{{#each proposalAlerts}}
				<p class="info info--error m-b-1">{{this}}</p>
			{{/each}}
		{{/if}}

		<input type="hidden" name="_csrf" value="{{csrf}}">
		
		<p class="flow-text">Add your proposal!</p>
		<div class="row">
			<div class="input-field col s12">
				<input 
					placeholder="Title" 
					id="title" 
					name="title" 
					type="text" 
					class="validate"
					value="{{data.title}}"
					required>
				<label for="title"></label>
				<span class="helper-text" data-error="Can`t be empty!" data-success="Well!"></span>
			</div>
		</div>

		{{!--<div class="row">
			<div class="input-field col s6">
				<input 
					placeholder="First Name" 
					id="first_name" 
					name="firstName" 
					type="text" 
					class="validate"
					required>
				<label for="first_name"></label>
				<span class="helper-text" data-error="Can`t be empty!" data-success="Well!"></span>
			</div>

			<div class="input-field col s6">
				<input 
					placeholder="Last Name" 
					id="last_name" 
					name="lastName" 
					type="text" 
					class="validate"
					required>
				<label for="last_name"></label>
				<span class="helper-text" data-error="Can`t be empty!" data-success="Well!"></span>
			</div>
		</div>--}}

		<div class="row">
			<div class="input-field col s12">
				<textarea 
					id="comment" 
					name="comment" 
					class="materialize-textarea"
					required>{{data.comment}}</textarea>
				<label for="comment">Proposal text:</label>
				<span class="helper-text" data-error="Can`t be empty!" data-success="Well!"></span>
			</div>
		</div>

		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
	</form>
</div>